<p id="notice"><%= notice %></p>

<p>
  <strong>Contract:</strong>
  <%= @subscriber.contract %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @subscriber.phone %>
</p>

<%= link_to 'Edit', edit_subscriber_path(@subscriber) %> |
<%= link_to 'Back', subscribers_path %>
